<section>
  <center>
    <h1>Recovery your password from jiraya, {{user.fullname}}</h1>
    <img src="https://static.wikia.nocookie.net/naruto/images/7/73/Jiraiya_perfil.PNG/revision/latest?cb=20191203234503&path-prefix=pt-br" height="175" width="175" alt="Talia Logo" />
    <h3>Verification Code</h3>
    <h2>{{code}}</h2>
    <br />
    <small>
      Please do not reply to this email
    </small>
  </center>

</section>

