<section>
  <center>
    <h1>Welcome to jiraya, {{user.fullname}}</h1>
    <img src="https://static.wikia.nocookie.net/naruto/images/7/73/Jiraiya_perfil.PNG/revision/latest?cb=20191203234503&path-prefix=pt-br" height="175" width="175" alt="Talia Logo" />
    <h3>Código de verificação</h3>
    <h2>{{user.verificationCode}}</h2>
    <br />
    <small>
      Por favor não responda este email
    </small>
  </center>

</section>

